body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-input::placeholder{
}

.ProfileImage {
  height: 150px;
  border-radius: 300px;
}

.InfoProfile {
  padding-left: 17px;

}