body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-input::placeholder{
}

.ProfilContent{
  display: flex;
  height: 100%;
}

.ProfileImage {
  height: 150px;
  border-radius: 300px;
}

.InfoProfile {
  padding-left: 17px;
}

.Content {
  margin: 40px 100px;
  padding-right: 100px ;
  height: 100%;
}

.CardImage{
  display: flex;
  padding-left: 100px;
}

.CardContent{
  width:500px ;
}
